footer{
    background-color: map-get($colores-background, oscuro); 
    .redesSociales {
        margin-left: 30px;
        .item-pieDePagina {
            display: inline-block;
            color: map-get($colores-background, fondo-tres); 
        }
        .nombreFooter {
            font-family: $fuente-general;
            font-size: 20px;
            width: 88%; 
            line-height: 60px;
        }
        .ancho10 {
            width: 10%;
            line-height: 60px;
        }
        .ancho30 {
            width: 30%;
        }
    }
}