.alto {
    min-height: 100vh;
    .titulo {
        font-family: $fuente-general;
        color: map-get($colores-background, blanco);
        display: flex;
        font-style: italic;
        justify-content: center;
        padding-top: 20px;
    }

    .box1 {
        border-radius: 15px;
        padding: 15px;
        border: 1px solid map-get($colores-background, oscuro);
        color: map-get($colores-background, oscuro);
        background-color: map-get($colores-background, fondo-cinco);
        .barralateral {
            font-family: $fuente-general;
            border-left: 10px solid map-get($colores-background, fondo-cuatro); 
            padding-left: 15px;
        }
    }
    .dos {
        background-color: map-get($colores-background, fondo-dos); 
    }
    .tres {
        background-color: map-get($colores-background, fondo-tres); 
    }
}