@media (min-width : 768px)
{   
  .padin {
    padding: 20px;
  }
  .borderimg {
    border-left: 1px solid map-get($colores-background, oscuro);
    border-right: 1px solid map-get($colores-background, oscuro);
    border-top: 1px solid map-get($colores-background, oscuro);
  }
  .bordertxt {
    border-left: 1px solid map-get($colores-background, oscuro);
    border-right: 1px solid map-get($colores-background, oscuro);
    border-bottom: 1px solid map-get($colores-background, oscuro);
  }
  .imgborder {
    border-radius: 20px;
  }
}
@media (max-width : 768px)
{   
  .padin {
    padding-left: 20px;
    padding-right: 20px;
    
  }
}