.box1pages {
    border-radius: 15px;
    padding: 15px;
    border: 1px solid black;
    color: black;
    background-color: rgb(175, 152, 134);
    .texto {
        text-align: justify;
        font-size: 16px;
        padding: 10px;
        color: black;
    }
}