/* https://www.dafont.com/es/ --> pagina de fuentes
https://fonts.google.com/
    
*/
@media (min-width : 768px)
{   
  .padin {
    padding: 20px;
  }
  .borderimg {
    border-left: 1px solid black ;
    border-right: 1px solid black ;
    border-top: 1px solid black;
  }
  .bordertxt {
    border-left: 1px solid black ;
    border-right: 1px solid black ;
    border-bottom: 1px solid black;
  }
  .imgborder {
    border-radius: 20px;
  }
}
@media (max-width : 768px)
{   
  .padin {
    padding-left: 20px;
    padding-right: 20px;
    
  }
}

@font-face {
    font-family: "brusha";
    src: url(./multimeda/fonts/brusha/Brusha.ttf);
}

@font-face {
    font-family: "british";
    src: url(multimeda/fonts/british_classical/British\ Classical\ Demo.ttf);
}

@font-face {
    font-family: "reusco";
    src: url(multimeda/fonts/reusco_display/Reusco\ Display.otf);
}

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}


  body {
    background-image: url(./../multimedia/img/guitarwithnotesandmusic_3172767.jpg);
    background-size: cover;
    min-height: 100vh;
  }

.alto {
    min-height: 100vh;
}

.titulo {
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:xx-large;
}
.box1 {
    border-radius: 15px;
    padding: 15px;
    border: 1px solid black;
    background-color: #dad9c7;
    color: black;
}
.box1pages {
    border-radius: 15px;
    padding: 15px;
    border: 1px solid black;
    color: black;
    background-color: rgb(175, 152, 134);
}
.cardfondo{
    background-color: rgb(175, 152, 134);
}
.dos {
    background-color: #edece3;
}
.tres {
    background-color: #f6f6f1;
}
.fondo {
    
    background-size: cover;
    opacity: 0.8;
    min-height : 600px;
 }
 .fondopages {
    background-image: url(./../guitarwithnotesandmusic_3172767.jpg);
    background-size: cover ;
    opacity: 0.8;
    min-height:600px;
 }
 .subtitulo{
    text-align: center;
    color:white;
    text-align: center;
    align-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    
}
.rowfondo{
    background-color: black;
    margin-bottom: 15px;
}

.barralateral {
    border-left: 10px solid rgb(123, 131, 78); 
    padding-left: 15px;
    color: black;
  
}
li {
    list-style: none;
}

h1 {
    display: flex;
    font-style: italic;
    justify-content: center;
    font-size: 3em;
    padding-top: 20px;
}

main {
    min-height: 1000px;
}

header, footer{
    background-color: black;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
}

.redesSociales {
    margin-left: 30px;
}

.item-pieDePagina {
    display: inline-block;
    color: #f6f6f1;
}

.nombreFooter {
    font-size: 20px;
    width: 88%; 
    line-height: 60px;
}

.ancho10 {
    width: 10%;
    line-height: 60px;
}

.ancho30 {
    width: 30%;
}

.ulMenu  {
    font-size: large;
    margin-left: 65%;
    display: flex;
    justify-content: space-evenly;
}

.navBar {
    display: flex;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    color: white;
    font-size: 30px;
    text-align: left;
    margin-top: 13px;
    margin-left: 2%;
    width: 20%;

}

p , h1, .label, .nombreFooter {
    font-family: "reusco";
}

.texto {
    text-align: justify;
    font-size: 16px;
    padding: 10px;
    color: black;
}

.contenedor {
    margin: 0 auto;
    width: 90%;
}

.contenido, .formulario {
    width: 50%;
    padding-left: 20px;
}

.contenido {
    background-color: rgb(133, 81, 81);
}

#contenido-medio {
    margin-left: auto;
}

.formulario {
    background-color: aliceblue;
}

.input{
    width: 100%;
    margin-bottom: 10px;
}

label{
    height: 25px;
    width: 100%;
}

#mensaje {
    height: 120px;
}

.textarea {
    width: 100%;
    height: 180px;
}

form {
    width: 80%;
}

.botonEnviar {
    height: 40px;
    width: 80%;
    margin-top: 10px;
}

.divForm {
    width: 80%;
    margin: 30px auto;
}

.informacion {
    display: flex;
}

.mapa {
    width: 100%;
    margin-top: 20px;
 
}

.barraNavegacion {
    text-align: right;
    vertical-align: middle;
}

.contenido-audiovisual {
    display: flex;
}

.musica, .youtube {
    width: 50%;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 2em;
}

.listaContenido, .listaContenidoAudio {
    padding-left: 0px;
}

.itemContenidoAudio {
    text-align: center;
}

.mapaImport {
      height: 500px;
}

iframe {
    width: 80%;
    height: 300px;
}

h6 {
    text-align: end;
    font-style: italic;
    font-size: 1em;
}

.formularioContacto {
    margin: 0 auto;
}

.botonEnviar {
    width: auto;
    text-align: center;
}