/* https://www.dafont.com/es/ --> pagina de fuentes
https://fonts.google.com/
    
*/
@font-face {
    font-family: "brusha";
    src: url(./multimeda/fonts/brusha/Brusha.ttf);
}

@font-face {
    font-family: "british";
    src: url(multimeda/fonts/british_classical/British\ Classical\ Demo.ttf);
}

@font-face {
    font-family: "reusco";
    src: url(multimeda/fonts/reusco_display/Reusco\ Display.otf);
}

li {
    list-style: none;
}

html {
    /* background-image: url(../multimedia/img/4\ ideias\ de\ instrumentos\ musicais\ para\ vender\ no\ Mercado\ Livre.webp); */
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 3em;
}

main {
    min-height: 1000px;
}

header, footer{
    background-color: black;
}

.ulMenu  {
    font-size: large;
    margin-left: 65%;
    display: flex;
    justify-content: space-evenly;
}

.pieDePagina {
    height: 60px;
    margin: auto;
}

html {
    background-color: brown;
}

a{ 
    text-decoration: none;
    color: white;
}


.item-navbar :hover {
    color: rgb(72, 4, 182);
}

.item-navbar :active {
    color: yellow;
} 

.barraNavegacion {
    width: 87%;
}

.navBar {
    display: flex;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}

.item-navbar {
    list-style: none;
    display: inline; /*mantiene los elementos enlinea*/
    font-size: 20px;
}

.titulo {
    color: white;
    font-size: 30px;
    text-align: left;
    margin-top: 13px;
    margin-left: 2%;
    width: 20%;

}

p , h1, .label {
    font-family: Arial, Helvetica, sans-serif;
}

.links :active {
    color: yellow;
} 

.texto {
    text-align: justify;
    font-size: 1.1em;
    padding: 30px;
}

.contenedor {
    margin: 0 auto;
    width: 90%;
    /* border: 3px solid greenyellow; */
}

.contenido, .formulario {
    width: 50%;
    padding-left: 20px;
}

.contenido {
    background-color: rgb(133, 81, 81);
}

#contenido-medio {
    margin-left: auto;
}

.formulario {
    background-color: aliceblue;
}

.input {
    width: 500px;
    margin-bottom: 10px;
}

.label {
    height: 60px;
    width: 350px;
}

#mensaje {
    height: 80px;
}

form {
    width: 500px;
}

.enviar {
    margin-top: 10px;
    text-align: center;
}

.botonEnviar {
    height: 40px;
    width: 508px;
}

.divForm {
    width: 60%;
    margin: 30px auto;
}

.informacion {
    display: flex;
}

.mapa {
    width: 100%;
    margin-top: 20px;
}

.barraNavegacion {
    text-align: right;
    vertical-align: middle;
}

.contenido-audiovisual {
    display: flex;
}

.musica, .youtube {
    width: 50%;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 2em;
}

.listaContenido {
    /* border: 2px solid green; */
    text-align: center;
}

.itemContenido {
    /* border: 2px solid rgb(66, 56, 56); */
    margin-bottom: 30px;
}

.mapaImport {
    width: 100%; 
    height: 500px;
}

iframe {
    width: 60%;
    height: 300px;
}

h6 {
    text-align: end;
    font-style: italic;
    font-size: 1em;
}